html{
    scroll-behavior: smooth;
  }

body{
    cursor: url(../cursor/music-note.png), auto;
}
  
div{
    background-color: white;
}

.skip{
    left:-999px;
    position:absolute;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    z-index:-999;
}

.skip:focus{
    color: #53a7ea;
    background-color: #FFFFFF;
    left: auto;
    top: auto;
    width: 30%;
    height: auto;
    overflow:auto;
    margin: 10px 35%;
    padding: 5px;
    border-radius: 15px;
    border:4px solid pink;
    text-align:center;
    font-size:1.2em;
    z-index:999;
}

h1{
    text-decoration: underline;
    margin-top: 20px;
    padding: 20px;
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 180%; 
}

.body-text{
    display: none;
    text-decoration: underline;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 180%;  
}
  
body{
    background-color: lightblue;
    font-size: 18px;
    line-height: 1.15;
    margin: 0;
    padding: 0;
    background-attachment: fixed; 
    background-position: center;  
    background-repeat: no-repeat; 
    background-size: cover;       
    height: 400px;
}

.body-text{
    background-color: lightblue;
    padding: 25px 0; 
    text-align: center;
}
  
nav li{
    display:inline;
    padding-right:20px;
}
  
.nav-links{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: lightblue;
    padding: 25px; 
    text-align: left;
    font-weight: bold;
    text-decoration: none; 
}

button {
    color: #FFFFFF;
    background-color: #292D3E;
    border: 3px solid #1D9AF2;
    border-radius: 4px;
    padding: 0 15px;
    cursor: pointer;
    height:32px;
    font-size:14px;
    transition: all 0.2s ease-in-out;
    }

button:hover, .active, button:visited {
    box-shadow: 1px 1px #FFFFFF, 2px 2px #FFFFFF, 3px 3px #FFFFFF;
    transform: translateX(-3px);
    color: pink;
    text-transform: uppercase;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 110%;
}

#playlist_gallery{
    width: 90%;
    margin: 10px auto;
    background-color: lightblue;


    display: grid;
    grid-template-columns: 25%;
    justify-content: space-around;
    align-items: center;
}

#playlist_gallery img{
    border: 3px dotted white;
}

#about_gallery{
    display: grid;
    justify-items: center;
    margin: 30px;
    background-color: lightblue;
}

figure{
    display: flex;
    flex-direction: column;
}

figcaption{
    font: italic larger serif;
    margin: 20px;
    text-align: center;
    align-self: center;
}

.about1{
    margin: 20px;
    height: 450px;
	width: 450px;
    border: 3px solid black;
}

.about2{
    height: 300px;
	width: 450px;
    border: 3px solid black;
}


.about3{
    margin: 40px;
    height: 300px;
	width: 450px;
    border: 3px solid black;
}

.about4{
    margin-top: 60px;
    height: 400px;
	width: 300px;
    border: 3px solid black;
}

.about5{
    margin: 40px;
    height: 300px;
	width: 400px;
    border: 3px solid black;
}

.about6{
    margin-top: 60px;
    height: 400px;
	width: 300px;
    border: 3px solid black;
}

.about7{
    margin: 40px;
    height: 350px;
	width: 350px;
    border: 3px solid black;
}

.about8{
    margin-top: 60px;
    height: 400px;
	width: 300px;
    border: 3px solid black;
}

.about9{
    margin: 40px;
    height: 300px;
	width: 250px;
	width: 350px;
    border: 3px solid black;
}

p{
    margin: 20px;
    padding: 20px;
    font-size: large;
    text-align: center;
}


h2{
    position: absolute;
    width: 100%;
    height: 2.5rem;
    background-color: lightblue;
    color: black;
    text-align: center;
} 

.spotify{
    display: none;
}

@media screen and (min-width: 768px){
    .nav-links{
        flex-direction: row;
        justify-content:center;
      }

      .home_text{
        margin: 80px;
        padding: 40px;
    }

      #playlist_gallery{
        grid-template-columns: 25% 25%;
        grid-gap: 10px;
        justify-content:center;
        align-items: center;
    }

    #playlist_gallery a img {
        height: 300px;
        width: 300px;
    }

    figcaption:nth-child(even){
        color: black;
        padding: 0px;
        margin: 0px;
    }

    figcaption:nth-child(odd){
        color: black;
        font: italic larger serif;
        padding: 0px;
        margin: 20px;
    }

    figure:nth-child(even){
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;

    }

    figure:nth-child(odd){
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;

    }

    p{
        display: flex;
        margin: 20px;
        padding: 20px;
        font-size: large;
        text-align: center;
        flex-wrap: wrap;
        align-items: center;
    }
 
}

@media screen and (min-width: 1200px){
    .spotify{
        display: block;
        width: 10%;
        margin-left: auto;
        margin-right: auto;
    }
    
    .nav-links{
        flex-direction: row;
        justify-content: space-evenly;
      }

    .home_text{
        margin: 100px;
        padding: 100px;
    }

    #playlist_gallery a img {
        height: 300px;
        width: 300px;
    }

    #playlist_gallery{
        margin: 50px;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        justify-content: space-between;
        align-items: stretch;
    }
    #playlist_gallery a {
        align-self: center;
    }

    figure:nth-child(odd){
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        align-items: center;
    }

    figure:nth-child(even){
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }

    figcaption:nth-child(odd){
        color: black;
        font: italic larger serif;
        padding: 0px;
        margin: 0px;
        text-align: center;
        position: inherit;
    }

    figcaption:nth-child(even){
        color: black;
        font: italic larger serif;
        padding: 0px;
        margin: 20px;
        text-align: center;
        position: inherit;
        position: inherit;
    }

    #about_gallery{
        display: inline;
        justify-items:auto;
        margin: 0px;
    }

    p{
        text-align: center;
        align-items: center;
        font-size: 200%;
    }


}